<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

    <application>
        <service
            android:name="ru.fromchat.ui.calls.CallForegroundService"
            android:exported="false"
            android:foregroundServiceType="camera|microphone" />
        <service
            android:name="ru.fromchat.api.local.workers.AttachmentDownloadForegroundService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
        <service
            android:name="ru.fromchat.api.local.workers.AttachmentFileCopyForegroundService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />
        <service
            android:name="androidx.work.impl.foreground.SystemForegroundService"
            android:foregroundServiceType="dataSync"
            tools:node="merge" />
    </application>
</manifest>
